<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed") }}
    {{ $style := resources.Get "sass/app.sass" | resources.ToCSS $options | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ block "head" . }}
    {{ end }}
  </head>

  <body>

    {{ block "main" . }}
    {{ end }}

    {{ if .Site.IsServer }}
      <!-- Development script - ignored on production build -->
      <script type="text/javascript" src="/dev.js"></script>
    {{ end }}

    <!-- Main JS file -->
    <script type="text/javascript" src="/assets/js/index.js"></script>

    {{ block "scripts" . }}
    {{ end }}
  </body>
</html>
